@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #60a4f9;
}

/* Scrollbar */
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Firefox Scrollbar Styles */
.overflow-y-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #f5f5f5;
}

/* Firefox Track Styles */
.overflow-y-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox Handle Styles */
.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}
